name: Typing

on: [pull_request]

jobs:
  typing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install tox
        run: pip install tox

      - name: Check typing
        run: tox -e typing
